<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="fragement/layout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Aceuil</title>
</head>
<body>
<!--END HEADER SECTION-->
<!--====== HOTELS LIST ==========-->
<div layout:fragment="content">
<section class="hot-page2-alp hot-page2-pa-sp-top all-hot-bg" >
    <div class="container">
        <div class="row inner_banner inner_banner_3 bg-none">
            <div class="hot-page2-alp-tit">
                <h1>Annonces </h1>

            </div>
        </div>
        <div class="row">
            <div class="hot-page2-alp-con">
                <!--LEFT LISTINGS-->
                        <div class="row">
                            <!--LISTINGS START-->
                            <div th:each="p:${AnnonceList}" class="hot-page2-alp-r-list">
                                <div  class="col-md-3 hot-page2-alp-r-list-re-sp">
                                    <a href="javascript:void(0);">
                                        <div class="hot-page2-hli-1">
                                            <img th:src="@{${'images/Annonce/'+p.images.iterator().next().image}}" alt="${p.titre}"/>
                                            </div>
                                        <div class="hom-hot-av-tic hom-hot-av-tic-list" >  </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="hot-page2-alp-ri-p2"> <h3 th:text="${p.titre}" ></h3>
                                        <ul>
                                            <li  th:text="${p.adress} "></li> </br>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="hot-page2-alp-ri-p3">
                                             <span class="hot-list-p3-1">Price Per Night</span> <span class="hot-list-p3-2" th:text="${p.prix}"> Dh</span><span class="hot-list-p3-4">
                                            <a th:href="@{/Annonce/Details(id=${p.id_announce})}" class="hot-page2-alp-quot-btn">Details Annonce</a> </span>
                                        </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                        <ul class="pagination">
                                            <li  class="page-item" th:each="pa,status:${pages}" >
                                                <a th:href="@{Acceuil(page=${status.index})}" th:text="${status.index}" class="page-link"></a>
                                            </li>
                                        </ul>

                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
</div>


</body>
</html>