<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="fragement/layout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Aceuil</title>
</head>
<body>
<!--END HEADER SECTION-->
<!--====== HOTELS LIST ==========-->
<div layout:fragment="content">
<section class="hot-page2-alp hot-page2-pa-sp-top all-hot-bg" >
    <div class="container">
        <div class="row inner_banner inner_banner_3 bg-none">
            <div class="hot-page2-alp-tit">
                <h1>La liste des annoncees </h1>

            </div>
        </div>
        <div class="row">
            <div class="hot-page2-alp-con">
                <!--LEFT LISTINGS-->
                <div class="col-md-4 hot-page2-alp-con-left">
                    <!--PART 1 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-con-left-1">
                        <h3> SUGGÉRER DES HÔTELS</h3> </div>
                    <!--PART 2 : LEFT LISTINGS-->

                    <!--PART 7 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Suggérer des hôtels </h4>
                        <div class="hot-page2-alp-l-com1 hot-room-ava-check">
                            <form>
                                <ul>
                                    <li>
                                        <label>Enter Votre Ville</label>
                                        <input type="text" placeholder="Enter City"> </li>
                                    <li>
                                        <label>Date départ</label>
                                        <input type="date"> </li>
                                    <li>
                                        <label>date arrivée </label>
                                        <input type="date"> </li>
                                    <li>
                                        <input type="submit" value="Envoyer"> </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!--PART 4 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4><i class="fa fa-map-marker" aria-hidden="true"></i>  SÉLECTIONNEZ VILLE ET PAYS</h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p4">
                            <form>
                                <ul>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp41" class="styled" type="checkbox" checked="">
                                            <label for="chp41"> Nashville, USA </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp42" class="styled" type="checkbox">
                                            <label for="chp42"> Hull, England </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp43" class="styled" type="checkbox">
                                            <label for="chp43"> Seoul, South Korea </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp44" class="styled" type="checkbox">
                                            <label for="chp44"> Ljubljana, Slovenia </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp45" class="styled" type="checkbox">
                                            <label for="chp45"> Wroclaw, Poland </label>
                                        </div>
                                    </li>
                                </ul>
                            </form> </div>
                    </div>
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4><i class="fa fa-dollar" aria-hidden="true"></i>  SÉLECTIONNEZ  LE PRIX</h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p5">
                            <form>
                                <ul>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp51" class="styled" type="checkbox" checked="">
                                            <label for="chp51"> $5000 - Above </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp52" class="styled" type="checkbox">
                                            <label for="chp52"> $4000 - $5000 </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp53" class="styled" type="checkbox">
                                            <label for="chp53"> $3000 - $4000 </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp54" class="styled" type="checkbox">
                                            <label for="chp54"> $2000 - $3000 </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp55" class="styled" type="checkbox">
                                            <label for="chp55"> $2000 - Below </label>
                                        </div>
                                    </li>
                                </ul>
                            </form>  </div>
                    </div>
                    <!--END PART 5 : LEFT LISTINGS-->
                    <!--PART 6 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4><i class="fa fa-star-o" aria-hidden="true"></i>  SÉLECTIONNER DES ÉVALUATIONS</h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p5">
                            <form>
                                <ul>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp61" class="styled" type="checkbox" checked="">
                                            <label for="chp61"> <span class="ho-hot-rat-star-list">
															<span class="hot-list-left-part-rat">5.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp62" class="styled" type="checkbox">
                                            <label for="chp62"> <span class="ho-hot-rat-star-list">
															<span class="hot-list-left-part-rat">4.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp63" class="styled" type="checkbox">
                                            <label for="chp63"> <span class="ho-hot-rat-star-list">
															<span class="hot-list-left-part-rat">3.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp64" class="styled" type="checkbox">
                                            <label for="chp64"> <span class="ho-hot-rat-star-list">
															<span class="hot-list-left-part-rat">2.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp65" class="styled" type="checkbox">
                                            <label for="chp65"> <span class="ho-hot-rat-star-list">
															<span class="hot-list-left-part-rat">1.0</span> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </form> </div>
                    </div>
                </div>
                <div class="col-md-8 hot-page2-alp-con-right">
                    <div class="hot-page2-alp-con-right-1">
                        <!--LISTINGS-->
                        <div class="row">
                            <!--LISTINGS START-->
                            <div th:each="p:${AnnonceList}" class="hot-page2-alp-r-list">
                                <div  class="col-md-3 hot-page2-alp-r-list-re-sp">

                                    <a href="javascript:void(0);">
                                        <div class="hotel-list-score">4.5</div>
                                        <div class="hot-page2-hli-1"> <img src="../static/images/sight/1.jpg" alt=""> </div>
                                        <div class="hom-hot-av-tic hom-hot-av-tic-list" >  </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="hot-page2-alp-ri-p2"> <a href="hotel-details.html"><h3 th:text="${p.titre}" ></h3></a>
                                        <ul>
                                            <li  th:text="${p.adress} "></li> </br>
                                            <li th:text="${p.capacite}"></li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="hot-page2-alp-ri-p3">
                                            <div class="hot-page2-alp-r-hot-page-rat">25%Off</div> <span class="hot-list-p3-1">Price Per Night</span> <span class="hot-list-p3-2" th:text="${p.prix}"></span><span class="hot-list-p3-4">
                                            <a th:href="@{/Annonce/Details(id=${p.id_announce})}" class="hot-page2-alp-quot-btn">Details Annonce</a> </span>
                                        </div>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <ul class="pagination">
                                        <li  class="page-item" th:each="pa,status:${pages}" >
                                            <a th:href="@{Acceuil(page=${status.index})}" th:text="${status.index}" class="page-link"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>