<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="fragement/layout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Aceuil</title>
</head>
<body>
<!--END HEADER SECTION-->
<!--====== HOTELS LIST ==========-->
<div layout:fragment="content">

    <!--====== BANNER ==========-->
    <section>
        <div class="rows inner_banner inner_banner_2" style="background-image: url('../static/images/sight/2.jpg')">
            <div class="container">
                <h2><span th:text="${Annonce.titre}"></span></h2>

                <p th:text="${Annonce.adress}"></p>
            </div>
        </div>
    </section>
    <!--====== TOUR DETAILS - BOOKING ==========-->
    <section>
        <div class="rows banner_book" id="inner-page-title">
            <div class="container">
                <div class="banner_book_1">
                    <ul>
                        <li class="dl1" th:text="${Annonce.adress}"></li>
                        <li class="dl2" th:text="${Annonce.prix}"></li>
                        <li class="dl3">Duration : One Night</li>
                        <li class="dl4"><a th:href="@{/Annonce/reservation(id=${Annonce.id_announce})}">Reserver </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--====== TOUR DETAILS ==========-->
    <section>
        <div class="rows inn-page-bg com-colo">
            <div class="container inn-page-con-bg tb-space">
                <div class="col-md-9">

                    <!--====== TOUR DESCRIPTION ==========-->
                    <div class="tour_head1 hotel-com-color">
                        <h3>About GRAND HOTEL</h3>
                        <p th:text="${Annonce.description}"></p>

                    </div>
                    <!--====== ROOMS: HOTEL BOOKING ==========-->
                </div>

            </div>
        </div>
    </section>


</div>

</body>
</html>

