<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="fragement/layout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Aceuil</title>
</head>
<body>
<!--END HEADER SECTION-->
<!--====== HOTELS LIST ==========-->
<div layout:fragment="content">

    <!--====== BANNER ==========-->
    <section>
        <div class="rows inner_banner inner_banner_2" style="background-image: url('../static/images/sight/2.jpg')">
            <div class="container">
                <h2><span th:text="${Annonce.titre}"></span></h2>

                <p th:text="${Annonce.adress}"></p>
            </div>
        </div>
    </section>
    <!--====== TOUR DETAILS - BOOKING ==========-->
    <section>
        <div class="rows banner_book" id="inner-page-title">
            <div class="container">
                <div class="banner_book_1">
                    <ul>
                        <li class="dl1" th:text="${Annonce.adress}"></li>
                        <li class="dl2" th:text="${Annonce.prix}"></li>
                        <li class="dl3">Duration : One Night</li>
                        <li class="dl4"><a th:href="@{/Annonce/reservation(id=${Annonce.id_announce})}">Reserver </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--====== TOUR DETAILS ==========-->
    <section>
        <div class="rows inn-page-bg com-colo">
            <div class="container inn-page-con-bg tb-space">
                <div class="col-md-9">

                    <!--====== TOUR DESCRIPTION ==========-->
                    <div class="tour_head1 hotel-com-color">
                        <h3>Description d'annonce</h3>
                        <p th:text="${Annonce.description}"></p>

                    </div>
                    <!--====== ROOMS: HOTEL BOOKING ==========-->

                    <!--====== ROOMS: HOTEL BOOKING ==========-->
                    <div class="tour_head1 hotel-book-room">
                        <h3>Photo Gallery</h3>
                        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators carousel-indicators-1">
                                <li data-target="#myCarousel1" data-slide-to="0"><img src="images/gallery/s1.jpg" alt="Chania">
                                </li>
                                <li data-target="#myCarousel1" data-slide-to="1"><img src="images/gallery/s2.jpeg" alt="Chania">
                                </li>
                                <li data-target="#myCarousel1" data-slide-to="2"><img src="images/gallery/s3.jpeg" alt="Chania">
                                </li>
                                <li data-target="#myCarousel1" data-slide-to="3"><img src="images/gallery/s4.jpeg" alt="Chania">
                                </li>
                                <li data-target="#myCarousel1" data-slide-to="4"><img src="images/gallery/s5.jpeg" alt="Chania">
                                </li>
                                <li data-target="#myCarousel1" data-slide-to="5"><img src="images/gallery/s6.jpeg" alt="Chania">
                                </li>
                                <li data-target="#myCarousel1" data-slide-to="6"><img src="images/gallery/s7.jpeg" alt="Chania">
                                </li>
                                <li data-target="#myCarousel1" data-slide-to="7"><img src="images/gallery/s8.jpg" alt="Chania">
                                </li>
                                <li data-target="#myCarousel1" data-slide-to="8"><img src="images/gallery/s9.jpg" alt="Chania">
                                </li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner carousel-inner1" role="listbox">
                                <div class="item active">  </div>
                                <div class="item"> <img src="images/gallery/s2.jpeg" alt="Chania" width="460" height="345"> </div>
                                <div class="item"> <img src="images/gallery/s3.jpeg" alt="Chania" width="460" height="345"> </div>
                                <div class="item"> <img src="images/gallery/s4.jpeg" alt="Chania" width="460" height="345"> </div>
                                <div class="item"> <img src="images/gallery/s5.jpeg" alt="Chania" width="460" height="345"> </div>
                                <div class="item"> <img src="images/gallery/s6.jpeg" alt="Chania" width="460" height="345"> </div>
                                <div class="item"> <img src="images/gallery/s7.jpeg" alt="Chania" width="460" height="345"> </div>
                                <div class="item"> <img src="images/gallery/s8.jpg" alt="Chania" width="460" height="345"> </div>
                                <div class="item"> <img src="images/gallery/s9.jpg" alt="Chania" width="460" height="345"> </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev"> <span><i class="fa fa-angle-left hotel-gal-arr" aria-hidden="true"></i></span> </a>
                            <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next"> <span><i class="fa fa-angle-right hotel-gal-arr hotel-gal-arr1" aria-hidden="true"></i></span> </a>
                        </div>
                    </div>


                    <!----Localisation--->
                    <div class="tour_head1 tout-map map-container">
                        <h3>Location</h3>
                        <iframe th:src="${Annonce.localisation}"  allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </section>


</div>

</body>
</html>

