<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
	  layout:decorate="fragement/layout.html">
<head>
	<meta charset="UTF-8"/>
	<title>Aceuil</title>
</head>
<body>
<!--END HEADER SECTION-->
<!--====== HOTELS LIST ==========-->
<div layout:fragment="content">
	<!--DASHBOARD-->
	<section>
		<div class="tr-register">
			<div class="tr-regi-form">
				<h4>Veuillez saisir votre email</h4>
				<p>Un lien de confirmation sera envoyé dans votre boîte de réception.</p>
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input type="email" class="validate">
							<label>Email</label>
						</div>
					</div>
					
					<div class="row">
						<div class="input-field col s12">
							<input type="submit" value="Envoyer" class="waves-effect waves-light btn-large full-btn"> </div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--END DASHBOARD-->
</body>
</div>
</html>