<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorate="fragement/layout.html">
<head>
	<meta charset="UTF-8"/>
	<title>Aceuil</title>
</head>

<body>
<div layout:fragment="content">
	<!--DASHBOARD-->
	<section>
		<div class="tr-register">
			<div class="tr-regi-form">
				<h4>Se connecter</h4>
				<p>C'est gratuit et le sera toujours.</p>
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" class="validate">
							<label>Login</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="password" class="validate">
							<label>Mot de passe</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="submit" value="Se connecter" class="waves-effect waves-light btn-large full-btn"> </div>
					</div>
				</form>
				<p><a href="forgot-password.html">mot de passe oublié</a> | Êtes-vous un nouvel utilisateur ? <a href="register.html">Register</a>
				</p>
			</div>
		</div>
	</section>
	<!--END DASHBOARD-->
</div>
</body>


</html>